################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Holo_db/.vs/Holo_db/v16
/Holo_db/Holo_db/Debug
/Holo_db/Debug
/.vs
/Holo_db/x64/Debug
/Holo_db/Holo_db/x64/Debug
/Holo_db/Test/x64/Debug
/Holo_db/Test/Debug
/Holo_db/Holo_db/Holo_DB.log
/out/build/x64-Debug (默认值)
